<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>TP03 Programación Visual AcuñaSergio</title>
</head>
<body>
	
	<header>
		<h1>Historia del lenguaje JAVA</h1>
	</header>
	
	<nav>
		<ul>
			<li><a href="javaScript.html">JavaScript</a></li>
	        <li><a href="HTML.html">Lenguaje de etiqueta HTML</a></li>
    	    <li><a href="ClasesJava.html">Clases de Java</a></li>
		</ul>
	</nav>
	
	<main style="background-color: #FFCCCC; padding: 20px;">
		<section>
			<h2>Definición</h2>
			<p> Java es un lenguaje de programación de propósito general creado por Sun Microsystems (ahora propiedad de Oracle) en 1995. Su diseño se centró en la portabilidad, la seguridad y la facilidad de uso, convirtiéndolo en uno de los lenguajes más populares para el desarrollo de aplicaciones empresariales, web y móviles. Java se basa en el principio "escribe una vez, ejecuta en cualquier lugar" (WORA), lo que significa que el código Java puede ejecutarse en cualquier dispositivo que tenga una máquina virtual Java (JVM) instalada, independientemente de la plataforma subyacente.</p>	
			<h2>Aplicaciones</h2>
			<p>Java se utiliza en una variedad de aplicaciones, desde aplicaciones empresariales de gran escala hasta aplicaciones móviles y de escritorio. Es el lenguaje principal para el desarrollo de aplicaciones Android, lo que lo convierte en una opción popular para los desarrolladores móviles. Además, Java es ampliamente utilizado en el desarrollo de aplicaciones web a través de tecnologías como JavaServer Pages (JSP), Java Servlets y frameworks como Spring y Hibernate. En el ámbito empresarial, Java se utiliza para crear sistemas de gestión de bases de datos, aplicaciones de comercio electrónico, sistemas de gestión de contenido (CMS) y mucho más, lo que lo convierte en una herramienta fundamental en el mundo de la programación.</p>
		</section>
		<section>
			<h2>Caracteristicas</h2>
			<ul>
				<li>Portabilidad</li>
				<li>Orientado a Objetos</li>
				<li>Seguridad</li>
				<li>Multiplataforma</li>
			</ul>
		</section>
		<section>
			<h2>Ventajas y Desventajas</h2>
			<table style="border: 2px solid black; background-color: #FF9999">
				<tr>
					<td style="border: 2px solid black;">Ventajas</td>
					<td style="border: 2px solid black;">Desventajas</td>
				</tr>
				<tr>
					<td>Soporta programación orientada a objetos, lo que facilita la reutilización y mantenimiento del código.</td>
					<td>La JVM y el manejo automático de la memoria pueden resultar en un mayor consumo de memoria en comparación con lenguajes de bajo nivel.</td>
				</tr>
				<tr>
					<td>Ofrece gestión de excepciones, recolección de basura y verificación de tipos para desarrollar aplicaciones más seguras y estables.</td>
					<td>Para algunos desarrolladores, especialmente aquellos nuevos en la programación, Java puede tener una curva de aprendizaje pronunciada.</td>
				</tr>
				<tr>
					<td>El código Java es independiente de la plataforma y puede ejecutarse en sistemas operativos diferentes.</td>
					<td>Aunque Java ha mejorado en términos de rendimiento, algunos lenguajes de programación más cercanos al hardware pueden tener un rendimiento más rápido en ciertos casos.</td>
				</tr>
			</table>
		</section>
		<aside>
			<img src="https://imgs.search.brave.com/sfC1iXX_ysaWwpjd1z-OJJalBBlzosbmm7TB7X03MrU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZXNh/cnJvbGxvd2ViLmNv/bS9zdG9yYWdlL3Rh/Z19pbWFnZXMvYWN0/dWFsLzhWeGdBWFM1/dlh5STlSSUVjcFds/QzNEeEFBb3VKWFdO/Z3BPZUh4bGwucG5n" alt="JAVA" style="border-radius: 20%; width: 300px; height: 200px; border: 2px solid black; background-color: white">
			<br>
			<a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Informacion relacionada a JAVA</a>
		</aside>
	</main>
</body>
</html>