<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>JAVAScript</title>
</head>
<body>
	<header>
		<h2>JavaScript</h2>
	</header>
	<main>
	<p>JavaScript es un lenguaje de programación de alto nivel que se utiliza principalmente en el desarrollo web para crear contenido dinámico e interactivo en las páginas. A diferencia de HTML y CSS, que se centran en la estructura y el diseño, respectivamente, JavaScript se enfoca en la interactividad y la manipulación del contenido de una página en tiempo real. Permite agregar funcionalidades como validación de formularios, animaciones, efectos visuales, actualizaciones de contenido sin recargar la página, interacción con el usuario a través de eventos como clics y desplazamientos, y comunicación con servidores para obtener o enviar datos de manera asincrónica. JavaScript se ejecuta en el navegador del cliente y es compatible con una amplia variedad de dispositivos y plataformas, lo que lo convierte en un componente fundamental en el desarrollo de aplicaciones web modernas y experiencias interactivas en línea.</p>
	</main>
</body>
</html>